<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  </head>
  <body>
    <div class="topnav">
      <a href="/" class="active">Home</a>
      <a href="/user-order">Users-Order</a>
    </div>

    <div class="w3-container">
      <h2>Danh Sách Sản Phẩm</h2>
      <div class="create-user-container">
        <form
          action="/create-new-product"
          method="post"
          enctype="multipart/form-data"
        >
          <fieldset>
            <legend><b>Thêm sản phẩm vào database</b></legend>

            <div>
              <label for="">ID sản phẩm : </label>
              <input type="text" name="id" />
            </div>
            <div>
              <label for="">Tên sản phẩm : </label>
              <input type="text" name="tensp" />
            </div>
            <div>
              <label for="">Thể loại : </label>
              <select name="loaisp" id="hall" value="3">
                <option>áo dài</option>
                <option>áo thun</option>
                <option>áo vest</option>
                <option>quần dài</option>
                <option>quần jean</option>
                <option>quần short</option>
                <option>quần tây</option>
              </select>
            </div>
            <div>
              <label for="">Kích cỡ : </label>
              <select name="kichco" id="hall" value="3">
                <option>S</option>
                <option>X</option>
                <option>XL</option>
                <option>XXL</option>
              </select>
            </div>
            <div>
              <label for="">Hãng sản xuất</label>
              <select name="tenNSX" id="hall" value="3">
                <option>aaa</option>
                <option>bbb</option>
                <option>ccc</option>
              </select>
            </div>
            <div>
              <label for="">Số lượng thêm : </label>
              <input type="text" name="soluong" />
            </div>
            <div>
              <label for="">Giá tiền : </label>
              <input type="text" name="giatien" />
            </div>
            <div>
              <label for="">Chi tiết sản phẩm: </label>
              <input type="text" name="chitietsanpham" />
            </div>

            <div>
              <label for="">Avatar: </label>
              <input type="file" name="profile_pic" />
            </div>

            <div>
              <button type="submit" class="editButton">Submit</button>
            </div>
          </fieldset>
        </form>
        <form
          method="POST"
          action="/upload-profile-pic"
          enctype="multipart/form-data"
        ></form>
      </div>
      <label for="productId">Lọc theo giá tiền sản phẩm: </label>
      <form action="/searchPrice200" method="get">
        <label for="priceUnder200">Dưới 200k</label>
        <input
          type="radio"
          id="priceUnder200"
          name="price200"
          value="200"
          onchange="filterProductsByPrice(this.value)"
        />
        <button type="submit" class="editButton2">Tìm kiếm</button>
      </form>
      <form action="/searchPrice300" method="get">
        <label for="priceUnder200">Dưới 300k</label>
        <input
          type="radio"
          id="priceUnder300"
          name="price300"
          value="200"
          onchange="filterProductsByPrice(this.value)"
        />
        <button type="submit" class="editButton2">Tìm kiếm</button>
      </form>
      <form action="/searchPrice500" method="get">
        <label for="priceUnder200">Dưới 500k</label>
        <input
          type="radio"
          id="priceUnder500"
          name="price500"
          value="200"
          onchange="filterProductsByPrice(this.value)"
        />
        <button type="submit" class="editButton2">Tìm kiếm</button>
      </form>
      <form action="/Tim" enctype="multipart/form-data" method="POST">
        <input type="text" placeholder="tìm id sản phẩm" name="timid" />
        <input type="text" placeholder="tìm tên sản phẩm" name="timtensp" />

        <input
          list="Listsize"
          class="input_Tim"
          name="timsize"
          placeholder="Tìm kiếm theo kích cỡ"
        />
        <datalist id="Listsize">
          <option value="S"></option>
          <option value="X"></option>
          <option value="XL"></option>
          <option value="XXL"></option>
        </datalist>

        <input
          list="Listloaisp"
          class="input_Tim"
          name="timloaisp"
          placeholder="Tìm kiếm theo Loại sản phẩm"
        />
        <datalist id="Listloaisp">
          <option value="áo dài"></option>
          <option value="Áo thun"></option>
          <option value="Áo vest"></option>
          <option value="Quần short"></option>
        </datalist>
        <button type="submit" class="editButton2">Tìm kiếm</button>
      </form>
      <table class="w3-table-all w3-hoverable">
        <thead>
          <tr class="w3-light-grey">
            <th>id</th>
            <th>Tên sản phẩm</th>
            <th>Loại sản phẩm</th>
            <th>Tên nhà sản xuất</th>
            <th>Số lượng</th>
            <th>Kích Cỡ</th>
            <th>Giá tiền</th>
            <th>Chi tiết sản phẩm</th>
            <th>Mô tả</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i=0; i < dataProduct.length; i++) { %>
          <tr>
            <td><%= dataProduct[i].id %></td>
            <td><%= dataProduct[i].tensp %></td>
            <td><%= dataProduct[i].loaisp %></td>
            <td><%= dataProduct[i].tenNSX %></td>
            <td><%= dataProduct[i].soluong %></td>
            <td><%= dataProduct[i].kichco %></td>
            <td><%= dataProduct[i].giatien.toLocaleString() %> VND</td>
            <td><%= dataProduct[i].chitietsanpham %></td>
            <td>
              <img
                src="/images/<%= dataProduct[i].mota %>"
                alt=""
                width="100px"
                height="100px"
              />
            </td>
            <td style="display: flex; flex-direction: column">
              <form action="/editproduct/<%=dataProduct[i].id%>" method="get">
                <button type="submit" class="editButton">edit</button>
              </form>

              <form action="/delete-product" method="post">
                <input
                  type="text"
                  hidden
                  value="<%=dataProduct[i].id%>"
                  name="productId"
                  ư
                /><button type="submit" class="editButton">delete</button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>
