<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="#" class="active">Users-Order</a>
    </div>

    <div class="w3-container">
      <h2>Danh Sách Khách Hàng Đặt Sản Phẩm</h2>
      <% for(let i=0; i < databill.length; i++) { %>
      <h3>Tổng số lượng bán được: <%= databill[i].TongSoLuong %></h3>
      <% } %> <% for(let i=0; i < datadetail.length; i++) { %>
      <h3>
        Tổng doanh thu hiện tại: <%= datadetail[i].TongGiaTien.toLocaleString()
        %>
      </h3>
      <% } %> <% for(let i=0; i < datanameproduct.length; i++) { %>
      <h3>Sản phẩm bán chạy nhất: <%= datanameproduct[i].ten %></h3>
      <% } %>
      <table class="w3-table-all w3-hoverable">
        <thead>
          <tr class="w3-light-grey">
            <th>id khách hàng</th>
            <th>Họ tên Khách hàng</th>
            <th>Số điện thoại</th>
            <th>Mã hóa đơn</th>
            <th>Tên sản phẩm</th>
            <th>Kích cỡ</th>
            <th>Số lượng sản phẩm</th>
            <th>Giá sản phẩm</th>
            <th>Tổng tiền đặt</th>
            <th>Địa chỉ ship</th>

            <th>Thời gian đặt</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i=0; i < dataUsers.length; i++) { %>
          <tr>
            <td><%= dataUsers[i].idkh %></td>
            <td><%= dataUsers[i].hotenkh %></td>
            <td><%= dataUsers[i].sdt%></td>
            <td><%= dataUsers[i].mahd %></td>
            <td><%= dataUsers[i].tensp %></td>
            <td><%= dataUsers[i].kichco %></td>
            <td><%= dataUsers[i].soluongsp %></td>
            <td><%= dataUsers[i].giatien.toLocaleString() %></td>
            <td><%= dataUsers[i].total.toLocaleString() %></td>
            <td><%= dataUsers[i].diachiship%></td>
            <td><%= dataUsers[i].thoigiandat %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <!-- <div class="create-user-container">
      <form action="/create-new-product" method="post">
        <fieldset>
          <legend><b>Thêm sản phẩm vào database</b></legend>

          <div>
            <label for="">ID sản phẩm : </label>
            <input type="text" name="id" />
          </div>
          <div>
            <label for="">Tên sản phẩm : </label>
            <input type="text" name="tensp" />
          </div>
          <div>
            <label for="">Thể loại : </label>
            <input type="text" name="loaisp" />
          </div>
          <div>
            <label for="">Số lượng thêm : </label>
            <input type="text" name="soluong" />
          </div>
          <div>
            <label for="">Giá tiền : </label>
            <input type="text" name="giatien" />
          </div>

          <div>
            <button type="submit">Submit</button>
          </div>
        </fieldset>
      </form>
    </div> -->
  </body>
</html>
